
.App-header{  
    height: 2rem;
    border-bottom: 2px double rgb(14, 13, 13);
    background-color: black;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    padding: 1rem;
    color: aliceblue;
  }
  .heat-R input{
    margin-right: 1rem;
    outline:1px solid black;
    padding: 8px;
  }
  .heat-R{
    display: flex;  
  }
  
  .heat-R li{
    list-style: none;
  }